body {
  margin-top: 0px;
}

.main-text {
  color: red;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-bottom: 433px;
}

.main-text h1 {
  padding-top: 433px;
  position: relative;
  text-align: center;
  color: #ffffff;
  font-size: 60px;
}

h1::after {
  display: block;
  content: '';
  width: 50%;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1::before {
  display: block;
  content: '';
  width: 50%;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 80px;
}

.button {
  display: block;
  position: absolute;
  color: #fff;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border: 2px solid #fff;
}

@media (max-width: 575.99px) {
  .main-text h1 {
    padding-top: 50px;
    font-size: 18px;
  }
  .main-text {
    padding-bottom: 100px;
  }
  .button {
    margin-top: 20px;
  }
  h1::before {
    bottom: 25px;
  }
  h1::after {
    bottom: -10px;
  }
}

.menu-large .nav-link {
  color: #ffffff;
  text-transform: uppercase;
}

/* for toogle*/
/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  margin: 0px auto 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle span:after {
  top: 9px;
}

#toggle span {
  position: relative;
  display: block;
  top: 20px;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  position: absolute;
  z-index: 999;
  color: #999;
  width: 100%;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin: auto;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}

li a:hover,
li a:focus {
  background: #1ABC9C;
  color: #fff;
}

/* demo styles */
p, p a {
  font-size: 12px;
  text-align: center;
  color: #888;
}

/* --------------------------------------- */
/*Parallax */
.bg, .parallax-block {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-block {
  background-image: url(../img/pexels-photo.jpg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 150px 0 150px 0;
}

.bg {
  background-image: url(../img/bg.jpeg);
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-device-width: 1024px) {
  .bg {
    background-attachment: scroll;
    padding-bottom: 30px;
  }
  .parallax-block {
    background-attachment: scroll;
  }
}

/*----------------------*/
/* Value block */
.value-blocks {
  display: flex;
  padding: 0 150px 0 150px;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #17c2a4;
}

.value-block-main-header {
  font-size: 30px;
  color: #fff;
}

.value-block-main-text {
  font-size: 18px;
  color: #fff;
}

@media (max-width: 575.99px) {
  .value-blocks {
    padding: 0;
  }
}

/* Aboutme block */
.abou-me-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.abou-me-main {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.about-me-header {
  font-size: 36px;
  color: #000;
}

.about-me-main-text {
  font-size: 16px;
}

.about-me-photo img {
  width: 100%;
  height: auto;
}

/*second parrlax */
.parallax-block-text {
  font-size: 54px;
  color: #e2e2e2;
}

/*Progress Bar */
#container, #container2, #container3, #container4 {
  margin-top: 50px;
  width: 100%;
  height: 200px;
}

.skill-progress-chart p {
  margin-top: 30px;
  font-size: 28px;
  text-transform: uppercase;
}

.sills-block {
  padding-bottom: 50px;
}

@media (max-width: 575.99px) {
  .skill-progress-chart p {
    margin-top: 0px;
  }
  .skill-progress-chart {
    padding-bottom: 90px;
  }
  .skill-progress-chart p {
    margin-top: 0px;
    font-size: 28px;
  }
}
